{% macro displaySources(source_list)%}
    {% for source in source_list%}
        <!-- <li>{{source.source['name']}}</li> -->
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mb-4 col-xs-12 col-sm-12 col-md-4 ">
                <div class="card h-100">
                <img  src="{{source.urlToImage}}" alt="" class="img-responsive">
                <div class="card-body">
                    <h4 class="card-title">
                    <a href="{{source.url}}" target="_blank">{{source.title}}</a>
                    </h4>
                    <p class="card-text">{{source.description}}</p>
                    <p>Posted from:<span class="label label-primary">{{source.source['name']}}</span>  <span></span> Posted At:<span class="label label-danger">{{source.publishedAt}}</span></p>
            </div>
            <hr style="border-width: 2px;">
        </div>
    </div>
    {% endfor %}
{% endmacro%}

{% macro getSources(source_list) %}
    {% for source in source_list %}
       <a class="dropdown-item" href="{{source.url}}" target="_blank">{{source.name}}</a>
    {% endfor%}
{% endmacro %}